<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.com.mybatis.mapper.BillTestMapper">

    <resultMap id="BaseResultMap" type="com.mybatis.model.BillTest">
        <result column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="VALUE" property="value" jdbcType="VARCHAR"/>
        <result column="STAT" property="stat" jdbcType="VARCHAR"/>
    </resultMap>

    <update id="updateBillTest" parameterType="com.mybatis.model.BillTest">
        UPDATE T_BILL_TEST
        SET STAT=#{stat},value=#{value}
        WHERE STAT != #{stat} and id=#{id}
    </update>

    <select id="selectBillTest" parameterType="com.mybatis.model.BillTest" resultMap="BaseResultMap">
        SELECT * FROM  T_BILL_TEST WHERE id =#{id} for update wait 10
    </select>

</mapper>